<div>
  <input [(ngModel)]="senderId" type="number" placeholder="sender account id">
  <input [(ngModel)]="receiverId" type="number" placeholder="receiver account id">
  <input [(ngModel)]="amount" type="number" placeholder="amount">
  <button (click)="makeTransaction()">Make Transaction</button>
</div>
<div *ngIf=transaction>Transaction successfull</div>

<div>
  <button (click)="showTransactions = !showTransactions">Past Transactions</button>
</div>
<div *ngIf=showTransactions>
  <ul>
    <li *ngFor="let item of transactions">
      transaction Id: {{item.id}}
      receiver Id: {{item.receiverId}}
      sender Id: {{item.senderId}}
      amount: {{item.amount}}
    </li>
  </ul>
</div>