
<form [formGroup]="transactionForm">

    <mat-form-field>
        <input matInput placeholder="senderId" [formControl]="senderIdForm">
        <mat-error *ngIf="senderIdForm.hasError && !senderIdForm.hasError('required')">
          Please enter a valid sender id
        </mat-error>
        <mat-error *ngIf="senderIdForm.hasError('required')">
          sender id is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="receiverId" [formControl]="receiverIdForm">
        <mat-error *ngIf="receiverIdForm.hasError && !receiverIdForm.hasError('required')">
          Please enter a valid receiver id
        </mat-error>
        <mat-error *ngIf="receiverIdForm.hasError('required')">
          receiver id is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="amount" [formControl]="amountForm">
        <mat-error *ngIf="amountForm.hasError && !amountForm.hasError('required')">
          Please enter a valid amount
        </mat-error>
        <mat-error *ngIf="amountForm.hasError('required')">
          amount is <strong>required</strong>
        </mat-error>
    </mat-form-field>

  </form> 

<button mat-raised-button (click)="postFormTransaction()">Make Transaction</button>

<br>

<div *ngIf=transaction><br>Transaction successfull</div>

<br>

<div>
  <button mat-raised-button (click)="showTransactions = !showTransactions; getTransactions()">Past Transactions</button>
</div>

<br>

<div *ngIf=showTransactions>

  
    <mat-table [dataSource]="transactions" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="receiver_id">
          <mat-header-cell *matHeaderCellDef> receiverId </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.receiverId}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="sender_id">
          <mat-header-cell *matHeaderCellDef> senderId </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.senderId}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

</div>


