<mat-sidenav-container class="sidenav">
        <mat-sidenav mode="side" [(opened)]="opened" >
                        <button routerLink="home" class="button-styled">Home</button>
                        <button routerLink="users" class="button-styled">View Users</button>
                        <button routerLink="users/post" class="button-styled">Create User</button>
                        <button routerLink="accounts/post" class= "button-styled">Create Account</button>
                        <button routerLink="transactions" class="button-styled">Transactions</button>
                        <a href="http://localhost:4200/home"><button class="button-styled">LogOut</button></a>
        </mat-sidenav>
        <mat-sidenav-content>
                        <button mat-button class="menu-button" (click)="opened=!opened">
                                <div class="menu"></div>
                                <div class="menu"></div>
                                <div class="menu"></div>
                        </button>

                        <router-outlet></router-outlet>
                        
        </mat-sidenav-content>
</mat-sidenav-container>


