mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 12000px;
    background:rgb(168, 167, 167);
  }

  .menu-button {
    position: absolute;
    left: 0;

  }

  .button-styled {
    color: white; 
    font-size: 20px;
     padding: 10px;
     margin: 10px;
     border: 0px;
     width: 200px;
     background-color: rgb(97, 97, 97);
     border-right: 3px solid gray

}

.button-styled:hover {
     background-color: rgb(187, 187, 187);
     cursor: pointer;
     border-right: 3px solid white
}

.menu {
  width: 30px;
  height: 4px;
  background-color: rgb(97, 97, 97);
  margin: 5px 0;
}